html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=false')
        title  InstantWall |
            != title
        script(src="/vendors/jquery.js")
        link(rel='stylesheet', href='/css/font.css')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/styles2.css')
    body
        div#image-handler
            div.container
                div#logo
                    a(href="show-wall").
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="310.465px" height="302px" viewBox="0 0 310.465 302" enable-background="new 0 0 310.465 302" xml:space="preserve"><rect y="102.889" fill="none" width="310.465" height="111.628"/><text transform="matrix(1 0 0 1 65.54 135.064)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Instant </tspan><tspan x="32.366" y="51" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Wall</tspan></text><polyline fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" points="264.14,55.742 264.14,255.32 45.499,255.32 45.499,36.679 177.14,36.679 "/></svg>
                h1!= message

                form(action="/upload", method="post", enctype="multipart/form-data")
                    div.input-file-container
                        input(class="input-file" id="my-file" type="file" name="image" accept="image/*" required)
                        label(for="my-file" class="input-file-trigger" tabindex="0") Choisissez un fichier
                    input(type="submit", value="envoyer",id="submit")
                    p.file-return
                    p#file-loader
                        img(src="/images/loader.gif")
                if(image)
                    if(image.filteredUrl)
                        img#image(src=image.filteredUrl)
                    else
                        img#image(src=image.formatedUrl)
                else
                    img#image(src="")
                div.filters
                    div.styled-select
                        select
                            option(value="None") Pas d'effet
                            option(value="Monochrome") Monochrome
                            option(value="Charcoal") Charcoal
                            option(value="LowColor") LowColor
                            option(value="Negative") Negative
                            option(value="Sepia") Sepia
                            option(value="Colorized") Colorized
                    input#message(type="text", placeholder="un petit mot...",maxlength="10")
                    p#filter-loader
                        img(src="/images/loader.gif")
    script(src="/socket.io/socket.io.js")
    script.
        // input file styled
        var fileInput = document.querySelector(".input-file"),
                button = document.querySelector(".input-file-trigger"),
                the_return = document.querySelector(".file-return");
        // action lorsque la "barre d'espace" ou "Entrée" est pressée
        button.addEventListener("keydown", function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                fileInput.focus();
            }
        });
        // action lorsque le label est cliqué
        button.addEventListener("click", function (event) {
            fileInput.focus();
            return false;
        });
        // affiche un retour visuel dès que input:file change
        fileInput.addEventListener("change", function (event) {
            the_return.innerHTML = this.value;
        });

        var socket = io();
        var image = !{JSON.stringify(image)}


        $(function(){
            if($('#image').attr('src')==''){
                $('#image,.styled-select,#message').hide();
            }

            $('form').submit(function(e){
                var $form = $(this);
                var formdata = (window.FormData) ? new FormData($form[0]) : null;
                var data = (formdata !== null) ? formdata : $form.serialize();
                e.preventDefault();
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    contentType: false, // obligatoire pour de l'upload
                    processData: false, // obligatoire pour de l'upload
                    dataType: 'json', // selon le retour attendu
                    data: data,
                    beforeSend:function(){
                        $('#submit').hide();
                        $('#file-loader').show();
                    },
                    success: function (result) {
                        $('#image').attr('src',result+'?i='+Date.now());
                        if($('#image').css('display')=='none'){
                            $('#image').show();
                        }
                        $('#file-loader').hide();
                        $('#submit,.styled-select,#message').show();
                        $('select').val('None').attr('selected', 'selected');
                    }
                });
            })
            //select the good option and set message on page load
            if(image){
                if(image.filterType){
                    $('select').val(image.filterType).attr('selected','selected');
                }else{
                    $('select').val('None').attr('selected','selected')
                }
                if(image.message){
                    $('#message').val(image.message);
                }
            }
            //ajax on select
            $('select').on('change',function(){
                console.log($(this).val())
                var self = $(this);
                $.ajax({
                    url: '/filterImage',
                    type: 'POST',
                    data: {
                        value:self.val()
                    },
                    beforeSend:function(){
                        $('.styled-select,#message').hide();
                        $('#filter-loader').show();
                    },
                    success: function (result) {
                        $('#image').attr('src',result+'?i='+Date.now());
                        $('#filter-loader').hide();
                        $('.styled-select,#message').show();
                    }
                });
            });

            //ajax message change
            $('#message').on('keyup',function(){
                console.log($(this).val())
                var self = $(this);
                $.ajax({
                    url: '/sendMessage',
                    type: 'POST',
                    data: {
                        value:self.val().trim().split(/[\s,]+/)[0].substring(0,10)
                    },
                    success: function (result) {
                        console.log(result);
                    }
                });
            });
        })