html
    head
        link(rel='stylesheet', href='/css/styles.css')
        script(src="/js/jquery.js")
        title ImageWall |
            !=  title
    body
        h1!= message
        a(href='add') add an image
        div.imageWall
            - each image in images
                if(image.filteredUrl)
                    img(data-client="#{image.owner}" , src=image.filteredUrl )
                else
                    img(data-client="#{image.owner}" , src=image.formatedUrl )

    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
        socket.on("imageAdded", function (data, buffer) {
            console.log(data);
            if (data.image) {
                if ($('.imageWall img[data-client="' + data.client + '"]').length ==0)  {
                    $('.imageWall').append('<img data-client="'+data.client+'" src=' + data.image + '>')
                } else {
                    console.log('in');
                    $('.imageWall img[data-client="' + data.client + '"]').attr('src', data.image)

                }
            }
        });
        socket.on('imageFiltered',function(data){
            $('.imageWall img[data-client="' + data.client + '"]').attr('src', data.image+'?i='+Date.now())
        });

