html
    head
        link(rel='stylesheet', href='/css/styles.css')
        script(src="/js/jquery.js")
        title ImageWall |
            !=  title
    body
        h1!= message
        a(href='add') add an image
        div#imageWall
            - each image in images
                div.image(data-client="#{image.owner}")
                    if(image.filteredUrl)
                        img(src=image.filteredUrl )
                    else
                        img(src=image.formatedUrl)
                    p
                        if(image.message)
                        !=image.message
    script(src="/socket.io/socket.io.js")
    script.
        var images = !{JSON.stringify(images)}
    script(src="/js/index.js")




