html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=false')
        link(rel='stylesheet', href='/css/font.css')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/styles.css')
        script(src="/vendors/jquery.js")
        script(src="/vendors/jquery.scrollTo.min.js")
        script(src="/vendors/jquery.visible.min.js")
        script(src="/socket.io/socket.io.js")
        title Instant Wall |
            !=  title
    body
        div#imageWall
            - each image in images
                - var self = (image.owner == client)
                if(self)
                    div.image(data-client="#{image.owner}" data-self="true")
                        if(image.filteredUrl)
                            img(src=image.filteredUrl )
                        else
                            img(src=image.formatedUrl)
                        if(image.message)
                            p
                                !=image.message
                else
                    div.image(data-client="#{image.owner}")

                        if(image.filteredUrl)
                            img(src=image.filteredUrl )
                        else
                            img(src=image.formatedUrl)
                        if(image.message)
                            p
                                !=image.message

        footer
            div#footer-desktop
                div.logo.
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="310.465px" height="302px" viewBox="0 0 310.465 302" enable-background="new 0 0 310.465 302" xml:space="preserve"><rect y="102.889" fill="none" width="310.465" height="111.628"/><text transform="matrix(1 0 0 1 65.54 135.064)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Instant </tspan><tspan x="32.366" y="51" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Wall</tspan></text><polyline fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" points="264.14,55.742 264.14,255.32 45.499,255.32 45.499,36.679 177.14,36.679 "/></svg>

                ul
                    li
                        a(class="locate" href="#") Me repérer
                    li
                        a(href='add') Participer
                    li
                        a(id="fullscreen" href="#") Plein écran
            div#footer-mobile
                ul
                    li
                        a(class="locate" href="#")
                    li
                        a(href='/').
                            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="310.465px" height="302px" viewBox="0 0 310.465 302" enable-background="new 0 0 310.465 302" xml:space="preserve"><rect y="102.889" fill="none" width="310.465" height="111.628"/><text transform="matrix(1 0 0 1 65.54 135.064)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Instant </tspan><tspan x="32.366" y="51" fill="#FFFFFF" font-family="'Lovelo-Black'" font-size="45">Wall</tspan></text><polyline fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" points="264.14,55.742 264.14,255.32 45.499,255.32 45.499,36.679 177.14,36.679 "/></svg>

                    li
                        a(href="add")

    script.
        var client= !{JSON.stringify(client)}
        console.log(client);

        var images = !{JSON.stringify(images)}
        console.log(images);
    script(src="/js/index.js")
    




